@model Student
@{
    ViewBag.Title = "Student Details";
}

<h2>Student Details</h2>

<ul class="list-group">
    <li class="list-group-item">
        <label>Name:</label>
        @Model.FirstName @Model.LastName
    </li>
    <li class="list-group-item">
        <label>City:</label>
        @Model.City
    </li>
    <li class="list-group-item">
        <label class="w-10">State:</label>
        @Model.State
    </li>
    <li class="list-group-item">
        <label>Zip:</label>
        @Model.Zip
    </li>
    <li class="list-group-item">
        <a asp-action="Edit" asp-controller="Student"
           asp-route-id="@Model.StudentId" asp-route-slug="@Model.Slug"
           class="btn btn-dark">Edit</a>

        <a asp-action="Delete" asp-controller="Student"
           asp-route-id="@Model.StudentId" asp-route-slug="@Model.Slug"
           class="btn btn-dark">Delete</a>

        <a asp-action="Index" asp-controller="Home"
           class="btn btn-dark">Home</a>
    </li>
</ul>

